<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle</title>
</head>
<body>
<p id="result"></p>
{% block content %}
<h1>    
    <ul>
        {% for row in board %}
            <li>{{row}}</li>
        {% endfor %}
    </ul>
</h1>
<form id="guess-form">
    <input type="text" placeholder="Guess a word" id="guess" required>
    <button>Submit</button>
</form>
{% endblock %}
<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
<script src="/static/app.js"></script>
</body>
</html>